<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de productos</title>
</head>
<body>
    <h1>Productos</h1>
    <ul id="products">
        {{#each products}}
            <li id="producto-{{this._id}}">
                ID: {{this._id}}, Nombre: {{this.nombre}}, Descripcion: {{this.descripcion}}, Codigo: {{this.codigo}}, Precio: {{this.precio}}, Stock: {{this.stock}}
            </li>
        {{/each}}
    </ul>

    <h2>Carrito</h2>
    <ul id="cart-products"></ul>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>

